{
  "openapi": "3.0.0",
  "info": {
    "title": "Marzipan API",
    "version": "1.0.0"
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
      "type": "http",
      "scheme": "bearer"
      }
    },
    "schemas": {
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the product"
          },
          "name": {
            "type": "string",
            "description": "Product name"
          },
          "slug": {
            "type": "string",
            "description": "URL-friendly product identifier"
          },
          "description": {
            "type": "string",
            "description": "Product description"
          },
          "productType": {
            "type": "string",
            "enum": ["physical", "event", "subscription"],
            "description": "Type of product"
          },
          "sku": {
            "type": "string",
            "description": "Stock Keeping Unit"
          },
          "collection": {
            "type": "string",
            "description": "Product collection name"
          },
          "status": {
            "type": "string",
            "enum": ["active", "inactive"],
            "description": "Product status"
          },
          "image": {
            "$ref": "#/components/schemas/ProductImage"
          },
          "price": {
            "type": "string",
            "description": "Formatted price (e.g., £10.00)"
          },
          "salePrice": {
            "type": "string",
            "nullable": true,
            "description": "Sale price if on sale"
          },
          "subscriberPrice": {
            "type": "string",
            "nullable": true,
            "description": "Special price for subscribers"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          },
          "storeSlug": {
            "type": "string",
            "description": "Store identifier"
          },
          "subscriptionsSlug": {
            "type": "string",
            "description": "Subscription identifier"
          },
          "availability": {
            "type": "string",
            "enum": ["all", "subscribers"],
            "description": "Product availability"
          },
          "upsellProducts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            },
            "description": "Related upsell products"
          }
        },
        "required": ["id", "name", "slug", "productType", "status", "price"]
      },
      "ProductImage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "path": {
            "type": "string"
          },
          "src": {
            "type": "string",
            "format": "uri"
          },
          "alt": {
            "type": "string",
            "nullable": true
          },
          "mimeType": {
            "type": "string"
          },
          "filename": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          }
        },
        "required": ["message"]
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Validation error message"
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Field-specific validation errors"
          }
        },
        "required": ["message", "errors"]
      }
    }
  },
  "servers": [
    {
      "url": "https://api.marzipan.co/v1"
    },
    {
      "url": "https://api.marzipan.test/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Account management endpoints including registration, login, and user details"
    },
    {
      "name": "Carts",
      "description": "Shopping cart management endpoints"
    },
    {
      "name": "Products",
      "description": "Product catalog and search endpoints"
    },
    {
      "name": "Subscriptions",
      "description": "Subscription management and renewal endpoints"
    },
    {
      "name": "CMS",
      "description": "Content management system endpoints"
    },
    {
      "name": "Messaging",
      "description": "Message and communication endpoints"
    },
    {
      "name": "Search",
      "description": "Search functionality endpoints"
    }
  ],
  "paths": {
    "/account/register": {
      "parameters": [],
      "post": {
        "tags": ["Account"],
        "summary": "Register",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                },
                "example": {
                  "message": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account/password": {
      "parameters": [],
      "post": {
        "tags": ["Account"],
        "summary": "Password Reset",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                },
                "example": {
                  "message": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "returnUrl": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account/login": {
      "parameters": [],
      "post": {
        "tags": ["Account"],
        "summary": "Login",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                },
                "example": {
                  "message": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account/logout": {
      "parameters": [],
      "post": {
        "tags": ["Account"],
        "summary": "Logout",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                },
                "example": {
                  "message": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/account/orders": {
      "parameters": [],
      "get": {
        "tags": ["Account"],
        "summary": "Orders",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {"type": "string"},
                          "ref": {"type": "string"},
                          "items": {"type": "integer"},
                          "amount": {"type": "string"},
                          "status": {"type": "string"},
                          "paymentStatus": {"type": "string"},
                          "createdAt": {"type": "string"}
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "uuid",
                      "ref": "string",
                      "items": 1,
                      "amount": "£0.00",
                      "status": "pending|shipped|cancelled",
                      "paymentStatus": "paid|failed|pending",
                      "createdAt": "string"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                },
                "example": {
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/account/subscriptions": {
      "parameters": [],
      "get": {
        "tags": ["Account"],
        "summary": "Subscriptions",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {"type": "string"},
                          "subscriptionType": {"type": "string"},
                          "name": {"type": "string"},
                          "productId": {"type": "string"},
                          "price": {"type": "string"},
                          "status": {"type": "string"},
                          "startDate": {"type": "string"},
                          "endDate": {"type": "string"},
                          "renewalDate": {"type": "string"},
                          "billingInterval": {"type": "integer"}
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "uuid",
                      "subscriptionType": "picknmix|variable",
                      "name": "string",
                      "productId": "uuid",
                      "price": "£0.00",
                      "status": "active|inactive|cancelled",
                      "startDate": "string",
                      "endDate": "string",
                      "renewalDate": "string",
                      "billingInterval": 1
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                },
                "example": {
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/account/details": {
      "parameters": [],
      "get": {
        "tags": ["Account"],
        "summary": "Details",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "firstName": {"type": "string"},
                        "lastName": {"type": "string"},
                        "email": {"type": "string", "format": "email"},
                        "phone": {"type": "string"},
                        "marketing": {"type": "array", "items": {"type": "string"}}
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "firstName": "string",
                    "lastName": "string",
                    "email": "user@example.com",
                    "phone": "string",
                    "marketing": []
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                },
                "example": {
                  "message": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Account"],
        "summary": "Update details",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                },
                "example": {
                  "message": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/carts": {
      "parameters": [],
      "post": {
        "tags": ["Carts"],
        "summary": "Create Cart",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {"type": "string"},
                    "items": {"type": "array", "items": {"type": "object"}},
                    "total": {"type": "string"},
                    "createdAt": {"type": "string", "format": "date-time"}
                  }
                },
                "example": {
                  "id": "uuid",
                  "items": [],
                  "total": "£0.00",
                  "createdAt": "2025-01-01T00:00:00.000000Z"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"},
                    "errors": {"type": "object"}
                  }
                },
                "example": {
                  "message": "string",
                  "errors": {
                    "field.name": ["string"]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                },
                "example": {
                  "message": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "item": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "options": {
                        "type": "object"
                      },
                      "price": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/carts/{cartId}": {
      "parameters": [
        {
          "name": "cartId",
          "in": "path",
          "required": true,
          "description": "The unique identifier for the cart",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "example": "893ff86d-4453-4134-9f62-5c9b7a70d74e"
        }
      ],
      "get": {
        "tags": ["Carts"],
        "summary": "Get Cart",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                },
                "example": {
                  "message": "string"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Carts"],
        "summary": "Update Cart",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                },
                "example": {
                  "message": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Carts"],
        "summary": "Clear All Cart Items",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                },
                "example": {
                  "message": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/carts/{cartId}/items": {
      "parameters": [
        {
          "name": "cartId",
          "in": "path",
          "required": true,
          "description": "The unique identifier for the cart",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "example": "2ec7d69b-c40b-40fd-9f66-8e81130b5bb5"
        }
      ],
      "post": {
        "tags": ["Carts"],
        "summary": "Add Item to Cart",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                },
                "example": {
                  "message": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "quantity": {
                          "type": "integer"
                        },
                        "productType": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/carts/{cartId}/items/{itemId}": {
      "parameters": [
        {
          "name": "cartId",
          "in": "path",
          "required": true,
          "description": "The unique identifier for the cart",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "example": "8bb107dd-4b10-4b19-ac7d-c88d21e49909"
        },
        {
          "name": "itemId",
          "in": "path",
          "required": true,
          "description": "The unique identifier for the cart item",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "example": "39e460ed-c517-4bbc-b358-c05f8abcccca"
        }
      ],
      "put": {
        "tags": ["Carts"],
        "summary": "Update Cart Item Quantity",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                },
                "example": {
                  "message": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quantity": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Carts"],
        "summary": "Remove Cart Item",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                },
                "example": {
                  "message": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/carts/{cartId}/discount": {
      "parameters": [
        {
          "name": "cartId",
          "in": "path",
          "required": true,
          "description": "The unique identifier for the cart",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "example": "21047fd2-b068-41ed-b70c-1689af54368f"
        }
      ],
      "post": {
        "tags": ["Carts"],
        "summary": "Apply Discount to Cart",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                },
                "example": {
                  "message": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "discountCode": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/carts/{cartId}/checkout": {
      "parameters": [
        {
          "name": "cartId",
          "in": "path",
          "required": true,
          "description": "The unique identifier for the cart",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "example": "2beaa641-3076-49bc-a0f7-e91e7143e1f9"
        }
      ],
      "post": {
        "tags": ["Carts"],
        "summary": "Checkout Cart",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                },
                "example": {
                  "message": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "paymentProvider": {
                    "type": "string"
                  },
                  "paypal": {
                    "type": "object",
                    "properties": {
                      "payerId": {
                        "type": "string"
                      },
                      "orderId": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/carts/{cartId}/shippingMethods": {
      "parameters": [
        {
          "name": "cartId",
          "in": "path",
          "required": true,
          "description": "The unique identifier for the cart",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "example": "43341d73-e9b5-4cd6-a35f-245e6c0e9aac"
        }
      ],
      "get": {
        "tags": ["Carts"],
        "summary": "Get Cart Shipping Methods",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                },
                "example": {
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/carts/{cartId}/countries": {
      "parameters": [
        {
          "name": "cartId",
          "in": "path",
          "required": true,
          "description": "The unique identifier for the cart",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "example": "2ec7d69b-c40b-40fd-9f66-8e81130b5bb5"
        }
      ],
      "get": {
        "tags": ["Carts"],
        "summary": "Get Cart Countries",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                },
                "example": {
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/carts/{cartId}/createSetupIntent": {
      "parameters": [
        {
          "name": "cartId",
          "in": "path",
          "required": true,
          "description": "The unique identifier for the cart",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "example": "d9c2f45b-f62f-4d60-8d1d-48929b662c6a"
        }
      ],
      "post": {
        "tags": ["Carts"],
        "summary": "Create Cart Setup Intent",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                },
                "example": {
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/cms/pages": {
      "parameters": [],
      "get": {
        "tags": ["CMS"],
        "summary": "Pages",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "slug": {"type": "string"},
                          "name": {"type": "string", "nullable": true},
                          "metaTitle": {"type": "string"},
                          "metaDescription": {"type": "string"},
                          "status": {"type": "string"},
                          "createdAt": {"type": "string", "format": "date-time"},
                          "updatedAt": {"type": "string", "format": "date-time"},
                          "publishedAt": {"type": "string", "nullable": true}
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "slug": "string",
                      "name": null,
                      "metaTitle": "string",
                      "metaDescription": "string",
                      "status": "published|draft",
                      "createdAt": "2025-01-01T00:00:00.000000Z",
                      "updatedAt": "2025-01-01T00:00:00.000000Z",
                      "publishedAt": null
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/cms/pages/{pageSlug}": {
      "parameters": [
        {
          "name": "pageSlug",
          "in": "path",
          "required": true,
          "description": "The unique slug identifier for the page",
          "schema": {
            "type": "string"
          },
          "example": "about"
        }
      ],
      "get": {
        "tags": ["CMS"],
        "summary": "Get CMS Page",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "slug": {"type": "string"},
                    "name": {"type": "string"},
                    "content": {"type": "string"},
                    "seo": {
                      "type": "object",
                      "properties": {
                        "title": {"type": "string"},
                        "description": {"type": "string"},
                        "ogImage": {"type": "string", "format": "uri"}
                      }
                    },
                    "status": {"type": "string"},
                    "fields": {"type": "object"},
                    "createdAt": {"type": "string", "format": "date-time"},
                    "updatedAt": {"type": "string", "format": "date-time"},
                    "publishedAt": {"type": "string", "nullable": true}
                  }
                },
                "example": {
                  "slug": "string",
                  "name": "string",
                  "content": "string",
                  "seo": {
                    "title": "string",
                    "description": "string",
                    "ogImage": "https://example.com/image.jpg"
                  },
                  "status": "published|draft",
                  "fields": {},
                  "createdAt": "2025-01-01T00:00:00.000000Z",
                  "updatedAt": "2025-01-01T00:00:00.000000Z",
                  "publishedAt": null
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                },
                "example": {
                  "message": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                },
                "example": {
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/cms/collections/{collectionName}": {
      "parameters": [
        {
          "name": "collectionName",
          "in": "path",
          "required": true,
          "description": "The unique name identifier for the collection",
          "schema": {
            "type": "string"
          },
          "example": "test"
        }
      ],
      "get": {
        "tags": ["CMS"],
        "summary": "Get CMS Collection",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                },
                "example": {
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },

    "/messages": {
      "parameters": [],
      "post": {
        "tags": ["Messaging"],
        "summary": "Create message",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                },
                "example": {
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/products": {
      "parameters": [],

      "get": {
        "tags": ["Products"],
        "summary": "products",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Deserunt labore tempor consequat laboris ad. Tempor consequat, laboris ad. Ad enim nostrud eiusmod, laborum. Eiusmod laborum consectetur, dolore cillum velit labore est. Dolore cillum, velit labore est aliquip.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Product"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string",
                          "format": "uri"
                        },
                        "last": {
                          "type": "string",
                          "format": "uri",
                          "nullable": true
                        },
                        "prev": {
                          "type": "string",
                          "format": "uri",
                          "nullable": true
                        },
                        "next": {
                          "type": "string",
                          "format": "uri",
                          "nullable": true
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "currentPage": {
                          "type": "integer"
                        },
                        "from": {
                          "type": "integer"
                        },
                        "path": {
                          "type": "string",
                          "format": "uri"
                        },
                        "perPage": {
                          "type": "integer"
                        },
                        "to": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "uuid",
                      "name": "string",
                      "slug": "string",
                      "description": "string",
                      "productType": "physical|event|subscription",
                      "sku": "string",
                      "collection": "string",
                      "status": "active|inactive",
                      "image": {
                        "id": "uuid",
                        "path": "string",
                        "src": "https://example.com/image.jpg",
                        "alt": null,
                        "mimeType": "image/jpeg",
                        "filename": "string"
                      },
                      "price": "£0.00",
                      "salePrice": null,
                      "subscriberPrice": null,
                      "createdAt": "2025-01-01T00:00:00.000000Z",
                      "updatedAt": "2025-01-01T00:00:00.000000Z",
                      "storeSlug": "string",
                      "subscriptionsSlug": "string",
                      "availability": "all|subscribers",
                      "upsellProducts": []
                    }
                  ],
                  "links": {
                    "first": "https://api.example.com/v1/products?page=1",
                    "last": "https://api.example.com/v1/products?page=5",
                    "prev": null,
                    "next": "https://api.example.com/v1/products?page=2"
                  },
                  "meta": {
                    "currentPage": 1,
                    "from": 1,
                    "path": "https://api.example.com/v1/products",
                    "perPage": 15,
                    "to": 15
                  }
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}": {
      "parameters": [
        {
          "name": "productId",
          "in": "path",
          "required": true,
          "description": "The unique identifier for the product",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "example": "2c19867e-2a31-48c5-a1a6-26605b3e2dea"
        }
      ],
      "get": {
        "tags": ["Products"],
        "summary": "Get Product",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                },
                "example": {
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/renew": {
      "parameters": [],
      "post": {
        "tags": ["Subscriptions"],
        "summary": "Renew",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                },
                "example": {
                  "message": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "renewal": {
                    "type": "string"
                  },
                  "expires": {
                    "type": "string",
                    "format": "utc-millisec"
                  },
                  "signature": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscription-packages": {
      "parameters": [],
      "get": {
        "tags": ["Subscriptions"],
        "summary": "Packages",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {"type": "string"},
                          "subscriptionType": {"type": "string"},
                          "name": {"type": "string"},
                          "slug": {"type": "string"},
                          "description": {"type": "string"},
                          "price": {
                            "type": "object",
                            "properties": {
                              "value": {"type": "integer"},
                              "formatted": {"type": "string"},
                              "currency": {"type": "string"}
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "uuid",
                      "subscriptionType": "picknmix|variable",
                      "name": "string",
                      "slug": "string",
                      "description": "string",
                      "price": {
                        "value": 0,
                        "formatted": "0.00",
                        "currency": "GBP"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/subscription-packages/ec30c355-f910-4fa7-aa3c-bf41115d4f48": {
      "parameters": [],
      "get": {
        "tags": ["Subscriptions"],
        "summary": "Package",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                },
                "example": {
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "parameters": [],
      "get": {
        "summary": "Search",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "example": "Adam",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "example": "application/json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"}
                  }
                },
                "example": {
                  "message": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}